<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>JPA Shop - 관리 페이지</title>
    <th:block th:replace="fragments/adminHead :: adminHead"/>

</head>

<body id="page-top">

<nav th:replace="fragments/adminNavbar :: adminNavbar"/>

<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/adminSidebar :: adminSidebar"/>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- 작성한 후기 -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    작성한 후기
                    <span style="float: right"><a th:text="' (총 ' + ${reviewCount} +'개)'"/> </span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <th:block th:replace="fragments/table :: reviewTable"/>
                    </div>
                    <th:block th:replace="fragments/paging :: reviewPaging"/>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="fragments/adminScript :: adminScript"/>

</body>

</html>
