<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <th:block th:replace="fragments/shopHead :: shopHead" />

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/shopNavbar :: shopNavbar" />

<!-- Page Content -->
<div class="container">

    <th:block th:replace="fragments/shopSidebar :: shopSidebar" />
    <!-- /.col-lg-3 -->

    <div style="padding-top: 50px" > </div>
    <div class="col-lg-9">
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">리뷰 수정</div>
                <div class="card-body">
                    <form th:action="@{/{itemId}/review/new(itemId=${form.itemId})}" th:object="${form}" method="post" enctype = multipart/form-data>
                        <table class="table table-bordered">
                            <tr><td colspan="4">
                                <label th:for="name">제목</label>
                                <input type="text" th:field="*{title}" class="form-control"
                                       placeholder="제목을 입력하세요"> </td> </tr>
                            <tr><td colspan="4"><div class="form-group">
                                <label th:for="memo">제품 설명</label>
                                <textarea rows="5" th:text="*{memo}" th:field="*{memo}" cols="70" th:wrap="hard" class="form-control" placeholder="상품에 대한 후기를 입력하세요"></textarea>
                            </div></td> </tr>
                        </table>
                        <div align="center">
                            <button type="submit" class="btn btn-primary">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <!-- /.col-lg-9 -->

</div>

</div>
<!-- /.container -->

<!-- Footer -->
<!-- Bootstrap core JavaScript -->
<th:block th:replace="fragments/shopScript :: shopScript" />
</body>

</html>

