<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>JPA Shop - 상품 주문</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <th:block th:replace="fragments/shopHead :: shopHead"/>

    <style>
        .submit {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    </style>

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById('sample4_postcode').readOnly = true;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("sample4_roadAddress").value = roadAddr + extraRoadAddr;
                    } else {
                        document.getElementById("sample4_roadAddress").value = roadAddr;
                    }
                    document.getElementById("sample4_roadAddress").readOnly = true;

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/shopNavbar :: shopNavbar"/>

<!-- Page Content -->
<div class="container">

    <!-- /.col-lg-3 -->
    <form th:action="@{/buy}" th:object="${form}" method="post">
        <div class="card card-login mx-auto mt-5">
            <div align="center" class="card-header">상품 주문</div>
            <div class="card-body">
                <div>
                    주문 상품
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <colgroup>
                            <col width="70%"/>
                            <col width="10%"/>
                            <col width="20%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>상품명</th>
                            <th>수량</th>
                            <th>가격</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cart : ${carts}">
                            <td th:text="${cart.item.name}"></td>
                            <td th:text="${cart.count}"></td>
                            <td th:text="${cart.unitPrice} + '원'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        주문일자
                        <p th:text="${#temporals.format(date, 'yyyy년 MM월 dd일')}" class="form-control"/></td>
                        주문자
                        <p th:text="${session.member.name}" class="form-control"/>
                    </div>
                    <div class="col-lg-6">
                        주소
                        <div class="form-inline">
                            <div class="form-group">
                                <input class="form-control" type="text" th:field="*{postcode}"
                                       id="sample4_postcode" placeholder="우편번호">
                                <div align="right"><input class="btn btn-primary" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"></div>
                            </div>
                        </div>
                        <input class="form-control" type="text" th:field="*{mainAddress}"
                               id="sample4_roadAddress" placeholder="도로명주소">
                        <td colspan="4">
                            <span id="guide" style="color:#999;display:none"></span>
                            <input class="form-control" type="text" th:field="*{extraAddress}"
                                   id="sample4_detailAddress" placeholder="상세주소">
                    </div>
                </div>
            </div>
            <div align="left" class="card-footer">
                <h3 th:text="'총 ' + ${totalPrice} + '원'"/>
            </div>
            <!-- /.col-lg-9 -->

        </div>
        <div align="center" class="submit">
            <button type="submit" class="btn btn-primary">주문서 작성</button>
        </div>
    </form>
</div>
<!-- /.container -->

<!-- Footer -->
<!-- Bootstrap core JavaScript -->
<th:block th:replace="fragments/shopScript :: shopScript"/>
</body>

</html>

