<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Forgot Password</title>

    <!-- Custom fonts for this template-->
    <!-- Custom styles for this template-->
    <th:block th:replace="fragments/adminHead :: adminHead"/>

</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">비밀번호 찾기</div>
        <div class="card-body">
            <div class="text-center mb-4">
                <h4>비밀번호 재설정</h4>
                <p>가입할 때 사용한 이메일을 입력하여 인증 메일을<br/>
                    전송합니다. 인증 메일을 통해 비밀번호를 <br/>
                    재설정할 수 있습니다.</p>
            </div>
          <form th:action="@{/forgotPassword}" th:object="${loginForm}" method="post">
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" th:field="*{email}" class="form-control" placeholder="Email address"
                       required="required" autofocus="autofocus"
                       th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
                <label th:for="email">이메일 주소</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">재설정 메일 전송</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" th:href="@{/login}">로그인</a>
            <a class="d-block small" th:href="@{/register}">회원가입</a>
            <a class="d-block small" th:href="@{/forgotPassword}">비밀번호 찾기</a>

          </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<!-- Core plugin JavaScript-->
<th:block th:replace="fragments/adminScript :: adminScript"/>

</body>

</html>
