<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Login</title>

  <!-- Custom fonts for this template-->
  <!-- Custom styles for this template-->
  <th:block th:replace="fragments/adminHead :: adminHead"/>

  <style>
    .fieldError {
      border-color: #bd2130;
    }
  </style>

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">로그인</div>
      <div class="card-body">
        <form role="form" th:action="@{/login}" th:object="${login}" method="post">
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" th:field="*{email}" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"
                     th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
              <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
              <label th:for="email">이메일 주소</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required="required"
                     th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
              <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
              <label th:for="password">비밀번호</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                비밀번호 저장
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">로그인</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" th:href="@{/register}">회원가입</a>
          <a class="d-block small" th:href="@{/resendEmail}">확인 메일 재전송</a>
          <a class="d-block small" th:href="@{/forgotPassword}">비밀번호 찾기</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <!-- Core plugin JavaScript-->
  <th:block th:replace="fragments/adminScript :: adminScript"/>

</body>

</html>
