<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Forgot Password</title>

    <!-- Custom fonts for this template-->
    <!-- Custom styles for this template-->
    <th:block th:replace="fragments/adminHead :: adminHead"/>

</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">비밀번호 찾기</div>
        <div class="card-body">
            <div class="text-center mb-4">
                <h4>비밀번호 재설정</h4>
            </div>
            <form role="form" th:action="@{/reset/{code}(code=${resetForm.code})}" th:object="${resetForm}"
                  method="post">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" th:field="*{password}" id="password" class="form-control"
                               placeholder="비밀번호"
                               th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
                        <label th:for="password">비밀번호</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" th:field="*{confirmPassword}" id="confirmPassword" class="form-control"
                               placeholder="비밀번호 확인"
                               th:class="${#fields.hasErrors('confirmPassword')}? 'form-control fieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Incorrect
                            date</p>
                        <label th:for="confirmPassword">비밀번호 확인</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">변경</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="register">회원가입</a>
                <a class="d-block small" href="login">로그인 페이지로 돌아가기</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<!-- Core plugin JavaScript-->
<th:block th:replace="fragments/adminScript :: adminScript"/>

</body>

</html>
