<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <th:block th:replace="fragments/shopHead :: shopHead"/>

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/shopNavbar :: shopNavbar"/>

<!-- Page Content -->
<div class="container">

    <!-- /.col-lg-3 -->
    <div class="card card-login mx-auto mt-5">
        <div align="center" class="card-header">비밀번호 변경 완료</div>
        <div align="center" class="card-body">
            <p>입력하신 비밀번호로 변경되었습니다.</p>
        </div>

        <div align="center" class="card-footer">
            <a th:href="@{/}" class="btn btn-success">확인</a>
            <a th:href="@{/login}" class="btn btn-success">로그인</a>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<th:block th:replace="fragments/shopScript :: shopScript"/>
</body>

</html>

