<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul class="sidebar navbar-nav" th:fragment="adminSidebar">
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/admin}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>카테고리</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/privacy}">
            <i class="fas fa-fw fa-table"></i>
            <span>개인정보 수정</span></a>
    </li>

    <div th:if="${session.member.role} == ${T(shop.jpa.domain.Role).valueOf('ADMIN')}">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/new}">
                <i class="fas fa-fw fa-table"></i>
                <span>상품 추가</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/members/list}">
                <i class="fas fa-fw fa-table"></i>
                <span>회원목록</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="itemsDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>상품 목록</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="itemsDropdown">
                <h6 class="dropdown-header">정렬 방법:</h6>
                <a class="dropdown-item" th:href="@{/admin/items/list}">최신순</a>
                <a class="dropdown-item" th:href="@{/admin/items/sale}">주문순</a>
                <a class="dropdown-item" th:href="@{/admin/items/review}">후기순</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="orderDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>주문 목록</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="orderDropdown">
                <h6 class="dropdown-header">정렬 방법:</h6>
                <a class="dropdown-item" th:href="@{/admin/orders/list}">전체</a>
                <a class="dropdown-item" th:href="@{/admin/orders/ready}">준비중</a>
                <a class="dropdown-item" th:href="@{/admin/orders/delivery}">배송중</a>
                <a class="dropdown-item" th:href="@{/admin/orders/cancel}">취소</a>
                <a class="dropdown-item" th:href="@{/admin/orders/complete}">배송완료</a>
            </div>
        </li>

    </div>

    <div>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="myOrderDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>주문한 상품</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="myOrderDropdown">
                <h6 class="dropdown-header">정렬 방법:</h6>
                <a class="dropdown-item" th:href="@{/admin/myOrders/list}">전체</a>
                <a class="dropdown-item" th:href="@{/admin/myOrders/ready}">준비중</a>
                <a class="dropdown-item" th:href="@{/admin/myOrders/delivery}">배송중</a>
                <a class="dropdown-item" th:href="@{/admin/myOrders/cancel}">취소</a>
                <a class="dropdown-item" th:href="@{/admin/myOrders/complete}">배송완료</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="boardDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>작성한 글</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="boardDropdown">
                <h6 class="dropdown-header">정렬 방법:</h6>
                <a class="dropdown-item" th:href="@{/admin/reviews/list}">후기</a>
                <a class="dropdown-item" th:href="@{/admin/comments/list}">댓글</a>
            </div>
        </li>

    </div>

</ul>