<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="shopScript">

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; HashCitrine 2020</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/shop/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/shop/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</th:block>