<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="shopSidebar">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Shop</h1>
            <div style="padding-top: 10px" class="list-group">
                <a th:href="@{/home/1}" class="list-group-item">등록순</a>
                <a th:href="@{/sale/1}" class="list-group-item">주문순</a>
                <a th:href="@{/review/1}" class="list-group-item">후기순</a>
            </div>
            <hr>
            <div style="padding-bottom: 30px" class="list-group">
                <a th:href="@{/book/1}" class="list-group-item">책</a>
                <a th:href="@{/album/1}" class="list-group-item">앨범</a>
                <a th:href="@{/movie/1}" class="list-group-item">영화</a>
            </div>

        </div>

</th:block>