<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <th:block th:replace="fragments/shopHead :: shopHead" />

    <style>
        .bl{
            display: block;
        }

    </style>


</head>



<body>

<!-- Navigation -->
<nav th:replace="fragments/shopNavbar :: shopNavbar" />

<!-- Page Content -->
<div class="container">

    <th:block th:replace="fragments/shopSidebar :: shopSidebar" />
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="row">

                <div style="padding-top: 30px" th:each="item : ${items}" class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
               <!--         <a th:href="@{/shop/{id}(id=${item.id})}"><img class="card-img-top" th:src="@{${item.itemImage}}" alt=""></a>  -->
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:text="${item.name}" th:href="@{/shop/{id}(id=${item.id})}"> 아이템</a>
                            </h4>
                            <h5 th:text="${item.price} + '원'">₩10,000</h5>
                            <p th:text="${item.memo}" class="card-text">제품에 대한 간단한 설명</p>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>

                <!-- 기본
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Item Two</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                                aspernatur! Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                -->
            </div>

                <div th:if="${end} > 1" align="center">
                    <span th:if="${page} != 1">
                    <a th:href="@{/{sort}/{resetPage}(sort=${sort}, resetPage=${resetPage})}"><<</a>&nbsp;
                    <a th:href="@{/{sort}/{previous}(sort=${sort},previous=${previous})}">이전</a>&nbsp;
                    </span>
                <th:block th:each="num : ${#numbers.sequence(start, end)}">
                    <a th:text="' ' + ${num} + ' '" th:href="@{/{sort}/{page} (sort=${sort}, page=${num})}"></a>
                </th:block>&nbsp;
                    <span th:if="${page} != ${lastPage}">
                    <a th:href="@{/{sort}/{next}(sort=${sort},next=${next})}">다음</a>&nbsp;
                    <a th:href="@{/{sort}/{lastPage}(sort=${sort},lastPage=${lastPage})}">>></a>
                    </span>
                </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<!-- Bootstrap core JavaScript -->
<th:block th:replace="fragments/shopScript :: shopScript" />

</body>

</html>
