<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title>JPA Shop - 오류 페이지</title>

  <!-- Bootstrap core CSS -->
  <!-- Custom styles for this template -->
  <th:block th:replace="fragments/shopHead :: shopHead" />

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/shopNavbar :: shopNavbar" />

<!-- Page Content -->
<div class="container">

  <th:block th:replace="fragments/shopSidebar :: shopSidebar" />
  <!-- /.col-lg-3 -->
  <div style="padding-top: 50px" > </div>
  <div class="col-lg-9">
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Error Page</h3>
        <p th:text="'오류 코드 : ' + ${code}"></p>
        <p class="card-text">이런! 잘못된 주소로 이동하셨습니다. 올바른 주소를 이용해주시기 바랍니다.</p>
      </div>
    </div>

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<!-- Bootstrap core JavaScript -->
<th:block th:replace="fragments/shopScript :: shopScript" />

</body>

</html>
